@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #360033, #0b8793);
    --background: -60 100% 98.22%;
    --foreground: -60 10% 0.44%;

    --muted: -60 10% 91.1%;
    --muted-foreground: -60 5% 41.1%;

    --popover: -60 10% 91.1%;
    --popover-foreground: -60 10% 0.55%;

    --card: -60 10% 91.1%;
    --card-foreground: -60 10% 0.55%;

    --border: -60 15% 89.44%;
    --input: -60 15% 89.44%;

    --primary: -60 100% 11%;
    --primary-foreground: -60 2% 91.1%;

    --secondary: -60 5% 95.55%;
    --secondary-foreground: -60 7% 11.1%;

    --accent: -60 5% 95.55%;
    --accent-foreground: -60 7% 11.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: -60 100% 11%;

    --radius: 0.5rem;

    /* --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem; */
  }

  .dark {
    --gradient: linear-gradient(
      to top left,
      #3d3393,
      #2b76b9,
      #2cacd1,
      #35eb93
    );

    --background: 262 31.849999999999998% 3.12%;
    --foreground: 262 4.9% 96.95%;

    --muted: 262 24.5% 11.700000000000001%;
    --muted-foreground: 262 4.9% 53.9%;

    --popover: 262 55.2% 5.07%;
    --popover-foreground: 262 4.9% 96.95%;

    --card: 262 55.2% 5.07%;
    --card-foreground: 262 4.9% 96.95%;

    --border: 262 24.5% 11.700000000000001%;
    --input: 262 24.5% 11.700000000000001%;

    --primary: 262 49% 39%;
    --primary-foreground: 262 4.9% 96.95%;

    --secondary: 262 24.5% 11.700000000000001%;
    --secondary-foreground: 262 4.9% 96.95%;

    --accent: 262 24.5% 11.700000000000001%;
    --accent-foreground: 262 4.9% 96.95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 262 4.9% 96.95%;

    --ring: 262 49% 39%;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--foreground);
  background: var(--background);
}
