.nav {
  position: fixed;
  top: 2rem;
  right: 50%;
  transform: translateX(50%);

  max-width: fit-content;

  border-style: dashed;
  border-width: 0.1rem;
  border-color: var(--gray-5);
  border-radius: var(--radius-round);

  z-index: 1;

  // LIST
  ul {
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-1);

    padding: var(--size-1) var(--size-1);

    // ITEM
    li {
      position: relative;

      width: 33.3333%;
      display: flex;
      justify-content: center;
      align-items: center;

      // ACTIVE ITEM
      &[data-active="true"] {
        a {
          color: var(--gray-9);
        }
      }
    }

    // TEXT
    a {
      color: var(--gray-6);
      font-weight: var(--font-weight-4);
      font-size: var(--font-size-2);
      padding: var(--size-2) var(--size-5);
      z-index: 3;

      transition: color 0.4s ease-in-out;
    }
  }
}

// HIGHLIGHT
.highlight {
  position: absolute;
  top: 5%;
  z-index: 2;
  transform: translateY(-50%, -50%);

  width: 33.3333%;
  padding: var(--size-2);
  height: 90%;

  box-shadow: var(--inner-shadow-4);
  border-radius: var(--radius-round);
  background-color: var(--gray-1);
  opacity: 0.45;
  backdrop-filter: blur(12px);

  transition: transform 0.4s ease-in-out;
}

// MOVE THE HIGHLIGHT
.nav ul li[data-active="true"]:nth-child(1) ~ .highlight {
  transform: translate(0%);
}

.nav ul li[data-active="true"]:nth-child(2) ~ .highlight {
  transform: translateX(93%);
}

.nav ul li[data-active="true"]:nth-child(3) ~ .highlight {
  transform: translateX(192%);
}
